/* VARIABLES */
:root {
	--font-family: "Play", sans-serif;

	--clr-primary-1: #f3b61f;
	--clr-primary-2: #343e4a;
	--clr-light: #e6f0df;
	--clr-dark: #051029;

	--box-shadow: 10px 10px 20px 0px rgba(8, 15, 2, 0.2);
}

/* GENERAL STYLES */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--clr-primary-2);
	color: var(--clr-dark);
	font-family: var(--font-family);
	line-height: 1.6;
	padding-top: 10rem;
}

h1 {
	font-size: 4rem;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 3.5rem;
	text-align: center;
	margin-top: 0;
}

p {
	text-align: center;
	font-size: 3rem;
	margin: 0;
}

button {
	display: inline-block;
	cursor: pointer;
	font-family: var(--ff-body);
	font-size: 3rem;
	background: var(--clr-primary-2);
	color: var(--clr-light);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px #000;
	padding: 0.25em 1.75em;
	transition: all 0.2s ease;
}

button:hover {
	background: rgb(69, 81, 96);
}

button:active {
	transform: scale(0.96);
	box-shadow: none;
}

/* LAYOUTS */
.container {
	width: 80%;
	max-width: 80rem;
	min-height: 60vh;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: var(--clr-primary-1);
	box-shadow: var(--box-shadow);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.game-selections {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.scores-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 4rem;
	margin: 2rem 0;
}

/* SECTIONS */
.game-intro-menu p,
.game-over p {
	font-weight: 700;
}

.game-play-menu.wrapper {
	gap: 0;
}

.computer-sign,
.player-sign {
	color: var(--clr-dark);
	font-size: 5rem;
	text-align: center;
}

/* JS CLASSES */
.hidden {
	display: none;
}

.red,
.green,
.bold {
	font-weight: 700;
	text-shadow: 1px 1px 2px var(--clr-dark);
}

.red {
	color: red;
}

.green {
	color: green;
}

.bold {
	text-shadow: none;
}

.dark {
	color: var(--clr-dark);
}
