/* VARIABLES */
:root {
	--ff-body: "Play", sans-serif;
	--ff-heading: "Roboto", sans-serif;

	--clr-primary: #fbc72b;
	--clr-secondary: #525252;
	--clr-light: #e6f0df;
	--clr-dark: #1d1803;
	--clr-hover: #646464;

	--font-size-h1: 5rem;
	--font-size-h2: 4rem;
	--font-size-p: 3rem;

	--box-shadow-containers: 10px 10px 20px 0px rgba(8, 15, 2, 0.2);
}

/* GENERAL STYLES */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--clr-secondary);
	color: var(--clr-dark);
	font-family: var(--ff-body);
	line-height: 1.6;
}

h1 {
	font-family: var(--ff-heading);
	font-size: var(--font-size-h1);
	margin: 0;
	text-align: center;
}

h2 {
	font-family: var(--ff-heading);
	font-size: var(--font-size-h2);
	text-align: center;
	margin-top: 0;
}

p {
	text-align: center;
	font-size: var(--font-size-p);
	margin: 0;
}

button {
	display: inline-block;
	cursor: pointer;
	font-family: var(--ff-body);
	font-size: var(--font-size-p);
	background: var(--clr-secondary);
	color: var(--clr-light);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px var(--clr-dark);
	padding: 0.25em 1.75em;
	transition: all 0.2s ease;
}

button:hover {
	background: var(--clr-hover);
}

button:active {
	transform: scale(0.96);
	box-shadow: none;
}

/* LAYOUTS */
.container {
	width: 80%;
	max-width: 80rem;
	min-height: 60vh;
	margin: 10rem auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: var(--clr-primary);
	box-shadow: var(--box-shadow-containers);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.game-selections {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.scores-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 4rem;
	margin: 2rem 0;
}

/* SECTIONS */
.game-intro-menu p,
.game-over p,
.game-play-menu .score-message {
	font-weight: 700;
}

.game-play-menu.wrapper {
	gap: 0;
}

.game-play-menu .computer-sign,
.game-play-menu .player-sign {
	color: var(--clr-dark);
	font-size: var(--font-size-h2);
	text-align: center;
}

/* JS CLASSES */
.hidden {
	display: none;
}

.red,
.green {
	font-weight: 700;
	text-shadow: 1px 1px 2px var(--clr-dark);
}

.red {
	color: red;
}

.green {
	color: green;
}

.dark {
	color: var(--clr-dark);
}
